@using EduTestContract.Models
@model EduTestContract.Models.Items<EduTestContract.Models.StudentModel>

@{
    ViewBag.Title = "Students";
}

<body>

    <div class="col-md-12">
        @Html.ActionLink("Add new student", "AddStudent", null, new {@class = "btn btn-success" })
        <br/>
        <br/>
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Students</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-cloud-upload"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-wrench"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th> #</th>
                            <th> First Name </th>
                            <th> Last Name </th>
                            <th> Email</th>
                            <th> Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var student in Model.Data)
                        {
                            <tr>
                                <td> @student.User.Id </td>
                                <td> @student.User.PersonalDetail.FirstName </td>
                                <td> @student.User.PersonalDetail.LastName</td>
                                <td> @student.User.PersonalDetail.Email </td>
                                <td>
                                    <span class="label label-sm label-default"> Edit </span>
                                    <span class="label label-sm label-danger"> Delete </span>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>                
                @Html.Partial("_Pagination", new ViewDataDictionary() { {"Page", Model.Page}, {"TotalPages", Model.TotalPages} })
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
    <!-- END FOOTER -->

</body>